*{
    margin: 0px;
}
.comon-btn{
    background-color: blue;
    color: white;
    border-radius: 9px;
    padding: 9px 18px;
    font-weight: bold;
}

.backgrownd-for-nav{
    background-color: white;
    padding: 10px 0px;
}

.nav-menu{
    list-style: none;
    display: flex;
    gap: 20px;
}

nav{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

/* navbaer end here */
/* navbaer end here */
/* navbaer end here */

